<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yefeng.h5_offline_engine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <service android:name=".H5OfflineService" />
        <receiver android:name=".H5OfflineDownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
